<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
  var themeBackroungColor
    if (localStorage.getItem("pref-theme") === "dark") {
      themeBackgroundColor='#1d1e20';
    } else if (localStorage.getItem("pref-theme") === "light") {
      themeBackgroundColor='white';
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      themeBackgroundColor='#1d1e20';
    }
</script>

<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
      padding: 10px;
      /*height: 300px; /* Should be removed. Only for demonstration */
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
</style>

<div class="row">
    <div class="column">
        <div>lent et stop</div>
        <div id="container-plateau11" style="height: 1400px; width:80px"></div>
    </div>
  </div>


<script>
    var renderer11;
    mtop = 30
    mleft = 10

    renderer11 = new Highcharts.Renderer(
        document.getElementById('container-plateau11'),
        400 + mleft,
        1300 + mtop,
        false, false, false ,
    );

    // plateau
    renderer11.rect(mleft, mtop, 60, 1300, 5).attr({
        fill: 'rgb(216,216,216)',
        stroke: 'black',
        'stroke-width': 2
    }).add();

    //fin
    renderer11.circle(mleft + 30, mtop + 50, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30 - 12, mtop + 50, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30, mtop + 50 + 45, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30 - 12, mtop + 50 + 45, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();

    // depart
    renderer11.circle(mleft + 30, mtop + 0, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30, mtop + 13, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //1ers piquets
    renderer11.circle(mleft + 0, mtop + 50, 1).attr({
        fill: 'orange',
        stroke: 'orange',   
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 12, mtop + 50, 1).attr({
        fill: 'orange',
        stroke: 'orange',
        'stroke-width': 2
    }).add();

    //2nds piquets
    renderer11.circle(mleft + 60, mtop + 50 + 45, 1).attr({
        fill: 'orange',
        stroke: 'orange',   
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 60 - 12, mtop + 50 + 45, 1).attr({
        fill: 'orange',
        stroke: 'orange',
        'stroke-width': 2
    }).add();

    //fin lent passager, depart slalom
    renderer11.circle(mleft + 60, mtop + 50 + 45 +39, 1).attr({
        fill: 'red',
        stroke: 'red',   
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 60 - 12, mtop + 50 + 45 + 39, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //ligne C4, fin freinage pluie
    // https://www.w3.org/TR/SVG/paths.html#PathDataLinetoCommands
    renderer11.path(['M', mleft + 0, mtop + 212, 'L', mleft + 60, mtop + 212])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.5,
        dashstyle: 'dash'
    })
    .add();

    //ligne C5, fin freinage sec
    renderer11.path(['M', mleft + 0, mtop + 212 + 39, 'L', mleft + 60, mtop + 212 +39])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.9,
        dashstyle: 'dash'
    })
    .add();

    // evitement
    renderer11.circle(mleft + 0, mtop + 251 + 60, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 7.5, mtop + 251 + 60, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 15, mtop + 251 + 60, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    /*renderer11.symbol('square', mleft + 0-1, mtop + 251-1 + 60, 2,2).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 1
    }).add();
    */

    // couloir evitement
    renderer11.circle(mleft + 0, mtop + 251 + 60 + 55, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0, mtop + 251 + 60 + 55 + 15, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 10, mtop + 251 + 60 + 55 + 7.5, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 10, mtop + 251 + 60 + 55 + 22.5, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //ligne C6, mesure vitesse pour freinage d'urgence et evitement
    renderer11.path(['M', mleft + 0, mtop + 251 + 157.5, 'L', mleft + 60, mtop + 251 +157.5])
    .attr({
        'stroke-width': 1,
        stroke: 'black',
        opacity: 1,
        dashstyle: 'dash'
    })
    .add();
    renderer11.circle(mleft + 0, mtop + 251 + 60 + 55 +15 + 27.5, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //arrêt stop
    renderer11.circle(mleft + 30, mtop + 466 + 175 + 20, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30-8, mtop + 466 + 175, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    renderer11.path(['M', mleft + 30, mtop + 466 + 175, 'L', mleft + 30, mtop + 466 + 175 +20])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.4,
        dashstyle: 'dash'
    }).add();
    renderer11.path(['M', mleft + 30+8, mtop + 466 + 175, 'L', mleft + 30+8, mtop + 466 + 175 +20])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.4,
        dashstyle: 'dash'
    }).add();

    // slalom
    renderer11.circle(mleft + 30+8, mtop + 466, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    //ligne C7, mesure vitesse pour slalom
    renderer11.path(['M', mleft + 0, mtop + 466 + 350, 'L', mleft + 60, mtop + 466 + 350])
    .attr({
        'stroke-width': 1,
        stroke: 'black',
        opacity: 1,
        dashstyle: 'dash'
    })
    .add();
    renderer11.circle(mleft + 30 + 8, mtop + 466 + 350, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30-8, mtop + 466 + 350 + 175, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //dernier plot
    renderer11.circle(mleft + 30, mtop + 466 + 350 + 175 + 250, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    // parcours lent
    renderer11.path(['M', mleft + 30, mtop + 5, 'c', -20 , 0, -30, 0, -25, 50, 'c', 0, 10, 20, 15, 35, 15,
'c', 10, 0, 20, 10, 15, 50, 'c', 0, 20, -5 ,20, -5, 50, 'c', 0, 10, -10, 100, -35, 160,
'c', -10, 20, -10, 20, -10, 90, 'c', 0, 20, 0, 20, 45, 70, 'c', 10, 20, 8, 100, 8, 100, 'c', 0, 50, 0, 65, -25, 65])
    .attr({
        'stroke-width': 3,
        stroke: 'green',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 40, mtop + 200, 'l', 5, 10, 'l', 8, -10])
    .attr({
        'stroke-width': 3,
        stroke: 'green',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 15, mtop + 450 , 'l', 0, -15, 'M', mleft + 15, mtop + 450, 'l', -11, -1])
    .attr({
        'stroke-width': 3,
        stroke: 'green',
        opacity: 1,
    }).add();

    // parcours freinage
    renderer11.path(['M', mleft + 35, mtop + 466+ 175+ 15, 'c', -20 , 0, -30, 0, -25, -50,
    'c', 0 , -30, 55 , -60, 35, 50, 'c', 0 , 35, -15, 60, -35, 375, 'c', 0 , 60, -20, 240, 10, 250,
'c', 35, 0, 42, 30, 35, -500, 'l', 0 , -500])
    .attr({
        'stroke-width': 3,
        stroke: 'blue',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 33, mtop + 700, 'l', 5, 9, 'l', 9, -7])
    .attr({
        'stroke-width': 3,
        stroke: 'blue',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 30, mtop + 1281 , 'l', -8, -8,
    'M', mleft + 30, mtop + 1281, 'l', -8 , 8])
    .attr({
        'stroke-width': 3,
        stroke: 'blue',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 55, mtop + 370 , 'l', -10, 12,
    'M', mleft + 55, mtop + 370, 'l', 10 , 12])
    .attr({
        'stroke-width': 3,
        stroke: 'blue',
        opacity: 1,
    }).add();


    // parcours lent avec passager
    renderer11.path(['M', mleft + 55, mtop + 280, 'c', 0 , 0, 0, -20, -45, -160, 'c', 0,-10, -5, -10 ,-3, -100, 
    'c', 0 , -15, 0, -15, 40, -15, 'c', 10, 0, 10, 20, 8, 50, 'l', 0 ,65])
    .attr({
        'stroke-width': 3,
        stroke: 'yellow',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 30, mtop + 180 , 'l', -8, 12,
    'M', mleft + 28, mtop + 180, 'l', 12 , 8])
    .attr({
        'stroke-width': 3,
        stroke: 'yellow',
        opacity: 1,
    }).add();

    // parcours slalom et évitement
    renderer11.path(['M', mleft + 55, mtop + 120, 'l', 0 , 200, 'c', 0, 20, 0, 90, -40, 320,
'c', 0, 30, 30, 100, 30, 175, 'c', 0, 30, -30, 100, -30, 175, 'c', 0, 30, 30, 100, 40, 175, 'l', 0, 80,
'c', 0 , 20, 0, 40, -25, 50, 'c', -20, 0, -25 , 0, -20, -60, 'c', 0,-30, -10, -200, -5, -850,
'c', 0 , -40, 25 , -75, 20, -100, 'c', 0, -0, -5, -100, -2, -225])//, 'c', 0, 20, -25, 100, -50, 0])
    .attr({
        'stroke-width': 3,
        stroke: 'red',
        opacity: 1,
    }).add();
    renderer11.path(['M', mleft + 16, mtop + 330 , 'l', -10, 6,
    'M', mleft + 15, mtop + 330, 'l', 8 , 10, 'M', mleft + 35, mtop + 730, 'l', -10, -6, 
    'M', mleft + 35, mtop + 730, 'l', 6, -8])
    .attr({
        'stroke-width': 3,
        stroke: 'red',
        opacity: 1,
    }).add();

    renderer11.path(['M', mleft + 54, mtop + 1200 , 'l', -8, -8,
    'M', mleft + 54, mtop + 1200, 'l', 9 , -7])
    .attr({
        'stroke-width': 3,
        stroke: 'red',
        opacity: 1,
    }).add();
    
    // moto, kawasaki z400, 1999mm 800mm
    renderer11.rect(mleft + 30 + 7, mtop + 3, 19.99, 8, 5).attr({
        fill: 'green',
        stroke: 'grey',
        'stroke-width': 1
    }).add();

    //arrêt
    renderer11.rect(mleft + 33, mtop + 654, 3, 3 ,0).attr({
        fill: 'black',
        stroke: 'black',
        'stroke-width': 5
    }).add();

    renderer11.label('fin chrono<br>>16s = A<br>>14s = B', mleft + 70, mtop + 120)
    .attr({
        r: 5,
        width: 85,
        fill: 'rgb(216,216,216)'
    })
    .css({
        color: 'black',
        fontWeight: ''
    })
    .add();

    //arrêt
    renderer11.rect(mleft + 53, mtop + 280, 3, 3 ,0).attr({
        fill: 'black',
        stroke: 'black',
        'stroke-width': 5
    }).add();

    //arrêt
    renderer11.rect(mleft + 53, mtop + 120, 3, 3 ,0).attr({
        fill: 'black',
        stroke: 'black',
        'stroke-width': 5
    }).add();

    //arrêt
    renderer11.rect(mleft + 22, mtop + 58, 3, 3 ,0).attr({
        fill: 'black',
        stroke: 'black',
        'stroke-width': 5
    }).add();

</script>




<script>

    var renderer11;
    mtop = 30
    mleft = 10

    renderer11 = new Highcharts.Renderer(
        document.getElementById('container-plateau11'),
        400 + mleft,
        1300 + mtop,
        false, false, false ,
    );

    // plateau
    renderer11.rect(mleft, mtop, 60, 1300, 5).attr({
        fill: 'rgb(216,216,216)',
        stroke: 'black',
        'stroke-width': 2
    }).add();

    //fin
    renderer11.circle(mleft + 30, mtop + 50, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30 - 12, mtop + 50, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30, mtop + 50 + 45, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30 - 12, mtop + 50 + 45, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();

    // depart
    renderer11.circle(mleft + 30, mtop + 0, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30, mtop + 13, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //1ers piquets
    renderer11.circle(mleft + 0, mtop + 50, 1).attr({
        fill: 'orange',
        stroke: 'orange',   
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 12, mtop + 50, 1).attr({
        fill: 'orange',
        stroke: 'orange',
        'stroke-width': 2
    }).add();

    //2nds piquets
    renderer11.circle(mleft + 60, mtop + 50 + 45, 1).attr({
        fill: 'orange',
        stroke: 'orange',   
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 60 - 12, mtop + 50 + 45, 1).attr({
        fill: 'orange',
        stroke: 'orange',
        'stroke-width': 2
    }).add();

    //fin lent passager, depart slalom
    renderer11.circle(mleft + 60, mtop + 50 + 45 +39, 1).attr({
        fill: 'red',
        stroke: 'red',   
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 60 - 12, mtop + 50 + 45 + 39, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //ligne C4, fin freinage pluie
    // https://www.w3.org/TR/SVG/paths.html#PathDataLinetoCommands
    renderer11.path(['M', mleft + 0, mtop + 212, 'L', mleft + 60, mtop + 212])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.5,
        dashstyle: 'dash'
    })
    .add();

    //ligne C5, fin freinage sec
    renderer11.path(['M', mleft + 0, mtop + 212 + 39, 'L', mleft + 60, mtop + 212 +39])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.9,
        dashstyle: 'dash'
    })
    .add();

    // evitement
    renderer11.circle(mleft + 0, mtop + 251 + 60, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 7.5, mtop + 251 + 60, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 15, mtop + 251 + 60, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    /*renderer11.symbol('square', mleft + 0-1, mtop + 251-1 + 60, 2,2).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 1
    }).add();
    */

    // couloir evitement
    renderer11.circle(mleft + 0, mtop + 251 + 60 + 55, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0, mtop + 251 + 60 + 55 + 15, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 10, mtop + 251 + 60 + 55 + 7.5, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 0 + 10, mtop + 251 + 60 + 55 + 22.5, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //ligne C6, mesure vitesse pour freinage d'urgence et evitement
    renderer11.path(['M', mleft + 0, mtop + 251 + 157.5, 'L', mleft + 60, mtop + 251 +157.5])
    .attr({
        'stroke-width': 1,
        stroke: 'black',
        opacity: 1,
        dashstyle: 'dash'
    })
    .add();
    renderer11.circle(mleft + 0, mtop + 251 + 60 + 55 +15 + 27.5, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //arrêt stop
    renderer11.circle(mleft + 30, mtop + 466 + 175 + 20, 1).attr({
        fill: 'blue',
        stroke: 'blue',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30-8, mtop + 466 + 175, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    renderer11.path(['M', mleft + 30, mtop + 466 + 175, 'L', mleft + 30, mtop + 466 + 175 +20])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.4,
        dashstyle: 'dash'
    }).add();
    renderer11.path(['M', mleft + 30+8, mtop + 466 + 175, 'L', mleft + 30+8, mtop + 466 + 175 +20])
    .attr({
        'stroke-width': 2,
        stroke: 'black',
        opacity: 0.4,
        dashstyle: 'dash'
    }).add();

    // slalom
    renderer11.circle(mleft + 30+8, mtop + 466, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    //ligne C7, mesure vitesse pour slalom
    renderer11.path(['M', mleft + 0, mtop + 466 + 350, 'L', mleft + 60, mtop + 466 + 350])
    .attr({
        'stroke-width': 1,
        stroke: 'black',
        opacity: 1,
        dashstyle: 'dash'
    })
    .add();
    renderer11.circle(mleft + 30 + 8, mtop + 466 + 350, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();
    renderer11.circle(mleft + 30-8, mtop + 466 + 350 + 175, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();

    //dernier plot
    renderer11.circle(mleft + 30, mtop + 466 + 350 + 175 + 250, 1).attr({
        fill: 'red',
        stroke: 'red',
        'stroke-width': 2
    }).add();



    // moto, kawasaki z400, 1999mm 800mm
    renderer11.rect(mleft + 50, mtop + 100, 8, 19.99, 5).attr({
        fill: 'green',
        stroke: 'grey',
        'stroke-width': 1
    }).add();



    renderer11.label('slalom<br><b>40</b> km/h min au 3e plot', mleft + 70, mtop + 800)
    .attr({
        r: 5,
        width: 140,
        fill: 'rgb(216,216,216)'
    })
    .css({
        color: 'black',
        fontWeight: ''
    })
    .add();
    renderer11.label('au retour<br><b>50</b> km/h<br>5 km/h de marge', mleft + 70, mtop + 380)
    .attr({
        r: 5,
        width: 140,
        fill: 'rgb(216,216,216)'
    })
    .css({
        color: 'black',
        fontWeight: ''
    })
    .add();

</script>
