<!--<div id="graph-btcusd-dca-2020" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dca-2019" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dca-2018" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dca-2017" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dca-2016" style="height: 500px; max-width:1000px; min-width: 250px;"></div>-->
<div id="graph-btcusd-dva-2020" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2020-btc" style="height: 200px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2019" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2019-btc" style="height: 200px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2018" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2018-btc" style="height: 200px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2017" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2017-btc" style="height: 200px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2016" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2016-btc" style="height: 200px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2015" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
<div id="graph-btcusd-dva-2015-btc" style="height: 200px; max-width:1000px; min-width: 250px;"></div>

<script>
    $.get("../../../files/btc/btcusd-dva-2020.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2020', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            title: {
                text: "2020"
            },
            subtitle: {
                text: "in USD"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(4,2)
                    },
            },
        });

    })
</script>
<script>
    $.get("../../../files/btc/btcusd-dva-2020.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2020-btc', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            subtitle: {
                text: "number of bitcoins"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    },
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-dva-2019.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2019', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            title: {
                text: "2019"
            },
            subtitle: {
                text: "in USD"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(4,2)
                    },
            },
        });

    })
</script>
<script>
    $.get("../../../files/btc/btcusd-dva-2019.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2019-btc', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            subtitle: {
                text: "number of bitcoins"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    },
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-dva-2018.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2018', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            title: {
                text: "2018"
            },
            subtitle: {
                text: "in USD"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(4,2)
                    },
            },
        });

    })
</script>
<script>
    $.get("../../../files/btc/btcusd-dva-2018.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2018-btc', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            subtitle: {
                text: "number of bitcoins"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    },
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-dva-2017.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2017', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            title: {
                text: "2017"
            },
            subtitle: {
                text: "in USD"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(4,2)
                    },
            },
        });

    })
</script>
<script>
    $.get("../../../files/btc/btcusd-dva-2017.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2017-btc', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            subtitle: {
                text: "number of bitcoins"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    },
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-dva-2016.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2016', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            title: {
                text: "2016"
            },
            subtitle: {
                text: "in USD"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(4,2)
                    },
            },
        });

    })
</script>
<script>
    $.get("../../../files/btc/btcusd-dva-2016.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2016-btc', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            subtitle: {
                text: "number of bitcoins"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    },
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-dva-2015.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2015', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            title: {
                text: "2015"
            },
            subtitle: {
                text: "in USD"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(4,2)
                    },
            },
        });

    })
</script>
<script>
    $.get("../../../files/btc/btcusd-dva-2015.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dva-2015-btc', {
            chart: {
                type: 'spline',
                plotBorderWidth: 0,
                zoomType: 'x',
                inverted: false,
            },

            plotOptions: {
                series: {
                    marker: {
                        enabled: false
                    }
                }
            },

            yAxis: {
                min: 0,
                gridLineWidth: 0.30,
                gridLineColor: '#afbac4',
                gridLineDashStyle: 'solid',
            },

            tooltip: {
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} USD</b><br/>',
                shared: true
            },
            legend: {
                enabled: false,
                verticalAlign: 'bottom',
            },
            subtitle: {
                text: "number of bitcoins"
            },
            data: {
                csv: csv,
                complete: function(options) {
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    options.series.splice(0,1);
                    },
            },
        });

    })
</script>