<script src="https://code.highcharts.com/modules/heatmap.js"></script>

<!--
<div id="graph-btcusd-sharpe" style="height: 500px; max-width:1000px; min-width: 250px;"></div>

<div id="graph-btcusd-profit" style="height: 500px; max-width:1000px; min-width: 250px;"></div>
-->


<div id="graph-btcusd-sharpe" class="chart"></div>

<div id="graph-btcusd-dd" class="chart"></div>


<div id="graph-btcusd-btc" class="chart"></div>

<div id="graph-btcusd-profit" class="chart"></div>

<style>
    .chart {
        height: 500px;
        float: left;
        width: 50%;
    }

    .spacer {
        height: 20px;
    }

</style>

<script src="https://code.highcharts.com/modules/heatmap.js"></script>



<script>
    $.get("../../../files/btc/btcusd-resume-sharpe.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-sharpe', {
            chart: {
                type: 'heatmap',
                marginTop: 130,
                marginBottom: 50
            },

            title: {
                text: 'Sharpe ratio',
                verticalAlign: 'bottom'
            },
            data: {
                csv: csv,
                seriesMapping: [{x: 2, y: 3, value: 4, category:1, name:0}],
                //switchRowsAndColumns: false,
                //firstColumnAsNames: true,
                //firstRowAsNames: true,
                //startRow: 0,
                //endRow: 1,

            },
            plotOptions:{
                series:{
                    dataLabels: {
                        enabled: true,
                        //color: '#000000'
                    },
                }
            },

            colorAxis: {
                //min: -2,
                //minColor: '#FFFFFF',
                //maxColor: Highcharts.getOptions().colors[1],
                stops: [
                    [0, Highcharts.getOptions().colors[7]],
                    [0.5, Highcharts.getOptions().colors[4]],
                    [1, Highcharts.getOptions().colors[3]]
                ],
                //tickWidth: 1,
                //tickLength: 20,
                tickInterval: 0.5
            },
            
            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                //symbolHeight: 280
                enabled: false
            },
            yAxis: {
                categories: [2020,2019,2018,2017,2016,2015],
                //title: null,
                reversed: true,
                visible:false
            },
            xAxis: {
                categories:['dca','dva (no withdraw)','dva (crypto ptf + cash)','lump-sum','lump-sum mid-year'],
                opposite: true,
                labels:{rotation: 270,
                align: 'left'}
            },
            tooltip: {
                pointFormat: '<b>{point.category} in {point.name}:</b><br/><b>{point.value}</b><br/>',
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-resume-profit.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-profit', {
            chart: {
                type: 'heatmap',
                marginTop: 0,
                marginBottom: 50
            },

            title: {
                text: 'Profit',
                verticalAlign: 'bottom'
            },
            data: {
                csv: csv,
                seriesMapping: [{x: 2, y: 3, value: 4, category:1, name:0}],
                //seriesMapping: [{value: 4, x:0, name:1}],
                
                //switchRowsAndColumns: false,
                //firstColumnAsNames: true,
                //firstRowAsNames: true,
                //startRow: 0,
                //endRow: 1,

            },
            plotOptions:{
                series:{
                    dataLabels: {
                        enabled: true,
                        //color: '#000000'
                    },
                }
            },

            colorAxis: {
                //min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[1],
                /*stops: [
                    [0, Highcharts.getOptions().colors[7]],
                    [0.2, Highcharts.getOptions().colors[4]],
                    [1, Highcharts.getOptions().colors[3]]
                ],*/
                
                //tickWidth: 1,
                //tickLength: 20,
                tickInterval: 5000
            },
            
            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                //symbolHeight: 280
                enabled: false
            },
            yAxis: {
                categories: [2020,2019,2018,2017,2016,2015],
                //title: null,
                reversed: true,
                //visible: false
            },
            xAxis: {
                categories:['dca','dva (no withdraw)','dva (crypto ptf + cash)','lump-sum','lump-sum mid-year'],
                //labels:{rotation: 270,
                //align: 'right'}
                //opposite: true
                visible: false,
            },
            tooltip: {
                pointFormat: '<b>{point.category} in {point.name}:</b><br/><b>{point.value}</b><br/>',
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-resume-btc.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-btc', {
            chart: {
                type: 'heatmap',
                marginTop: 0,
                marginBottom: 50
            },

            title: {
                text: 'Accumulated bitcoins',
                verticalAlign: 'bottom'
            },
            data: {
                csv: csv,
                seriesMapping: [{x: 2, y: 3, value: 4, category:1, name:0}],
                //seriesMapping: [{value: 4, x:0, name:1}],
                
                //switchRowsAndColumns: false,
                //firstColumnAsNames: true,x²
                //firstRowAsNames: true,
                //startRow: 0,
                //endRow: 1,

            },
            plotOptions:{
                series:{
                    dataLabels: {
                        enabled: true,
                        //color: '#000000'
                    },
                }
            },

            colorAxis: {
                //in: 0,
                //minColor: '#FFFFFF',
                //maxColor: Highcharts.getOptions().colors[0],
                stops: [
                    [0, Highcharts.getOptions().colors[4]],
                    [0.2, Highcharts.getOptions().colors[1]],
                    [1, Highcharts.getOptions().colors[3]]
                ],
                
                //tickWidth: 1,
                //tickLength: 20,
                tickInterval: 0.1
            },
            
            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                //symbolHeight: 280
                enabled: false
            },
            yAxis: {
                categories: [2020,2019,2018,2017,2016,2015],
                //title: null,
                reversed: true,
                visible: false
            },
            xAxis: {
                categories:['dca','dva (no withdraw)','dva (crypto ptf + cash)','lump-sum','lump-sum mid-year'],
                visible: false
            },
            tooltip: {
                pointFormat: '<b>{point.category} in {point.name}:</b><br/><b>{point.value}</b><br/>',
            },
        });

    })
</script>

<script>
    $.get("../../../files/btc/btcusd-resume-dd.csv", function(csv) {
        var c = Highcharts.chart('graph-btcusd-dd', {
            chart: {
                type: 'heatmap',
                marginTop: 130,
                marginBottom: 50
            },

            title: {
                text: 'Max drawdown',
                verticalAlign: 'bottom'
            },
            data: {
                csv: csv,
                seriesMapping: [{x: 2, y: 3, value: 4, category:1, name:0}],
                //seriesMapping: [{value: 4, x:0, name:1}],
                
                //switchRowsAndColumns: false,
                //firstColumnAsNames: true,x²
                //firstRowAsNames: true,
                //startRow: 0,
                //endRow: 1,

            },
            plotOptions:{
                series:{
                    dataLabels: {
                        enabled: true,
                        //color: '#000000'
                    },
                }
            },

            colorAxis: {
                //in: 0,
                //minColor: '#FFFFFF',
                //maxColor: Highcharts.getOptions().colors[0],
                stops: [
                    [0, Highcharts.getOptions().colors[7]],
                    [0.9, Highcharts.getOptions().colors[6]],
                    [1, Highcharts.getOptions().colors[5]]
                ],
                
                //tickWidth: 1,
                //tickLength: 20,
                tickInterval: 500
            },
            
            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                //symbolHeight: 280
                enabled: false
            },
            yAxis: {
                categories: [2020,2019,2018,2017,2016,2015],
                //title: null,
                reversed: true,
                //visible: false
            },
            xAxis: {
                categories:['dca','dva (no withdraw)','dva (crypto ptf + cash)','lump-sum','lump-sum mid-year'],
                opposite: true,
                labels:{rotation: 270,
                align: 'left'}
            },
            tooltip: {
                pointFormat: '<b>{point.category} in {point.name}:</b><br/><b>{point.value}</b><br/>',
            },
        });

    })
</script>