<!--Volatility = <span id="volText" class="input2">20</span><span> %</span>-->
<!--
Volatility = <input  class="input2" id="volText" type="text" value="20"></input><span> %</span>
<br>
<input type="range" id="vol" value="20" min="0" max="100" step="0.1" 
onchange="updateInput2(this.value, this.id);" oninput="updateInput2(this.value, this.id)" style="width: 500px">
<br>
-->

<!--
Time to Maturity = <span id="timeText">60</span><span> days</span>
<br>
<input type="range" id="time" value="60" min="1" max="365" step="1" 
onchange="updateInput2(this.value, this.id);" oninput="updateInput2(this.value, this.id)" style="width: 500px">
<br>
<input id="price" value="100">
-->

<!--
<script>
    function updateInput2(val, id){
        id2 = id + 'Text'
        paramText = document.getElementById(id2)
        //paramText.innerHTML = val
        paramText.value = val
    }
</script>
-->

<div class="row">
    <div class="column">
        Strike ($)
        <form>
            <div>
                <input id="strikeText" class = "input2" type="number" value="100" min="0" step="0.1" />
            </div>
        </form>
    </div>
    <div class="column">
        Current Price ($)
        <form>
            <div>
                <input id="currentText" class = "input2" type="number" value="100" min="0" step="0.1" />
            </div>
        </form>
    </div>
    <div class="column">
        Time to Maturity (days)
        <form>
            <div>
                <input id="timeText" class = "input2" type="number" value="60" min="0" max="200" step="1" oninput="timeRange.value=timeText.value" />
                <input id="timeRange" class = "slider2" type="range" value="60" min="1" max="365" step="1" oninput="timeText.value=timeRange.value" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="column">
        Volatility (%)
        <form>
            <div>
                <input id="volText" class = "input2" type="number" value="20" min="0" max="200" step="0.5" oninput="volRange.value=volText.value" />
                <input id="volRange" class = "slider2" type="range" value="20" min="0" max="200" step="0.5" oninput="volText.value=volRange.value" />
            </div>
        </form>
    </div>
    <div class="column">
        Dividend Yield (%)
        <form>
            <div>
                <input id="divText" class = "input2" type="number" value="0" min="0" max="20" step="0.1" oninput="divRange.value=divText.value" />
                <input id="divRange" class = "slider2" type="range" value="0" min="0" max="20" step="0.1" oninput="divText.value=divRange.value" />
            </div>
        </form>
    </div>
    <div class="column">
        Interest Rate (%)
        <form>
            <div>
                <input id="rateText" class = "input2" type="number" value="0" min="-10" max="20" step="0.1" oninput="rateRange.value=rateText.value" />
                <input id="rateRange" class = "slider2" type="range" value="0" min="-10" max="20" step="0.1" oninput="rateText.value=rateRange.value" />
            </div>
        </form>
    </div>
</div>

<br>
<button class="button2" onclick="price('call')">PRICE CALL</button>
<button class="button2" onclick="price('put')">PRICE PUT</button>

<div id="resultOption"></div>
<table id="optionsTable">
    <tr>
        <th>Result</th>
        <th>Strike</th>
        <th>Current</th>
        <th>Expiry</th>
        <th>Volatility</th>
        <th>Dividend</th>
        <th>Rate</th>
        <th></th>
        <th></th>

    </tr>
</table>
<button class="button1" onclick="changeFormat('optionsTable')">Format table</button>
<button class="button1" onclick="resetFormat('optionsTable')">Reset format</button>
<button class="button1" onclick="resetTable('optionsTable')">Clear table</button>
<button class="button1" onclick="createChart('optionsTable', 'containerTableChart', [2,0,1])">Create chart</button>
<button class="button1" onclick="generateURl()">Get URl</button>
<div id="containerTableChart" style="width:100%; height:0px;"></div>

<script type="text/javascript">
    var binsvgOptions = '<svg onclick="deleteRowOptions(this)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#b5b5b5"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>'
    
    function price(callORput){
        strike = parseFloat(document.getElementById('strikeText').value)
        currentPrice = parseFloat(document.getElementById('currentText').value)
        ttm = parseFloat(document.getElementById('timeText').value)
        rate = parseFloat(document.getElementById('rateText').value)
        vol = parseFloat(document.getElementById('volText').value)
        div = parseFloat(document.getElementById('divText').value)
        console.log(strike, currentPrice, ttm, rate, vol, div)

        if (callORput=='put'){
            var option = putOption(currentPrice, strike, 1/365*ttm,rate/100,vol/100,div/100)
        }
        else{
            var option = callOption(currentPrice, strike, 1/365*ttm,rate/100,vol/100,div/100)
        }
        //console.log(call)
        
        //document.getElementById("resultOption").innerHTML=document.getElementById("resultOption").innerHTML + call
        var table = document.getElementById("optionsTable");
        var row = table.insertRow(1);

        row.setAttribute("draggable", "true")
        row.setAttribute("ondragstart", "start()")
        row.setAttribute("ondragover", "dragover()")
        
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(-1);
        var cell3 = row.insertCell(-1);
        var cell4 = row.insertCell(-1);
        var cell5 = row.insertCell(-1);
        var cell6 = row.insertCell(-1);
        var cell7 = row.insertCell(-1);
        var cell8 = row.insertCell(-1);
        
        cell0.innerHTML= option.toFixed(3)
        cell0.setAttribute("class", "move")
        cell1.innerHTML = strike;
        cell1.setAttribute("class", "pointer")
        cell1.setAttribute("onclick","clicker('strike')")
        cell2.innerHTML = currentPrice;
        cell2.setAttribute("class", "pointer")
        cell2.setAttribute("onclick","clicker('current')")
        cell3.innerHTML = ttm;
        cell3.setAttribute("class", "pointer")
        cell3.setAttribute("onclick","clicker('time')")
        cell4.innerHTML = vol;
        cell4.setAttribute("class", "pointer")
        cell4.setAttribute("onclick","clicker('vol')")
        cell5.innerHTML = div;
        cell5.setAttribute("class", "pointer")
        cell5.setAttribute("onclick","clicker('div')")
        cell6.innerHTML = rate;
        cell6.setAttribute("class", "pointer")
        cell6.setAttribute("onclick","clicker('rate')")
        cell7.innerHTML = callORput
        cell8.innerHTML = binsvgOptions;
        
    }

    function deleteRowOptions(r){
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("optionsTable").deleteRow(i);

    }

    var row;
    var tar;
    var tarValue;
    var ev;

    function start(){  
        row = event.target;
    }
    
    function dragover(){
        var e = event;
        e.preventDefault(); 
        
        let children= Array.from(e.target.parentNode.parentNode.children);
        
        if(children.indexOf(e.target.parentNode)>children.indexOf(row))
            e.target.parentNode.after(row);
        else
            e.target.parentNode.before(row);
    }

    function clicker(col){
        tar=event.target;
        tarValue=tar.textContent;

            document.getElementById(col+"Text").value=tarValue
            try {
                document.getElementById(col+"Range").value=tarValue;
            } catch(error){}

        
    }

    function changeFormat(tableId){ //changeFormat("optionsTable")
        //alert(table)
        var table= document.getElementById(tableId)//optionsTable
        rowIndex=0
        columnIndex=0
        for (var i = 1, row; row = table.rows[i]; i++) {
            //iterate through rows
            //rows would be accessed using the "row" variable assigned in the for loop
            for (var j = 0, col; col = row.cells[j]; j++) {
                //console.log(col)
                try{
                    if (table.rows[i].cells[j].innerHTML != table.rows[i+1].cells[j].innerHTML){
                        table.rows[i].cells[j].style.fontWeight = "bold"
                        if(table.rows[i].cells[j].innerHTML > table.rows[i+1].cells[j].innerHTML){
                            table.rows[i].cells[j].style.color = "red"
                        }
                        else{
                            table.rows[i].cells[j].style.color = "green"
                        }
                    }
                    else{
                        table.rows[i].cells[j].removeAttribute("style");
                    }
                } catch(error)
                {
                    table.rows[i].cells[j].removeAttribute("style");
                }
                //iterate through columns
                //columns would be accessed using the "col" variable assigned in the for loop
            }  
        }
    }
    
    function resetFormat(tableId){
        var table= document.getElementById(tableId)
        for (var i = 1, row; row = table.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                table.rows[i].cells[j].removeAttribute("style");
            }
        }
    }

    function resetTable(tableId){
        var table = document.getElementById(tableId);
        for(var i = 1;i<table.rows.length;){
            table.deleteRow(i);
        }
    }

    function createChart(tableId, chartId, indexes=[0,1,2]){
        //console.log(indexes)
        i0=indexes[0]
        i1=indexes[1]
        i2=indexes[2]
        
        var table = document.getElementById(tableId)
        var data=[]
        for (var i = 1, row; row = table.rows[i]; i++) {
            tmp=[]
            tmp2=[]
            for (var j = 0, col; col = row.cells[j]; j++) {
                tmp.push(table.rows[i].cells[j].innerHTML)
            }
            nama=tmp[7].charAt(0)+ tmp[1]+'_'+ tmp[3]  + ',' + tmp[2] + ',' + tmp[4] + ',' + tmp[5] + ',' + tmp[6] + '=' + Number(tmp[0]).toFixed(3)
            //console.log('tmp',tmp)
            tmp2.push([parseFloat(tmp[i0]),parseFloat(tmp[i1]),parseFloat(tmp[i2])])
            data.push({name:nama, data: tmp2})
            //console.log('tmp2', tmp2)
        }
        //console.log(data)
        var chart = document.getElementById(chartId)
        chart.setAttribute("style", "height:400px")
        chart = Highcharts.chart('containerTableChart', {
            chart: {
                type: 'bubble',
                zoomType: 'xy',
            },
            plotOptions: {
                    series:{
                        lineWidth:0
                    },
                    bubble: {
                        minSize: 5,
                        maxSize: 20,
                        sizeBy: 'width',
                        marker:{
                            fillOpacity: 0.5,
                            lineWidth: 1,
                        },
                        /*events: {
                            legendItemClick() {
                            let chart = this.chart,
                                series = chart.series;
                            if (this.index === 0) {
                                if (chart.showHideFlag) {
                                series.forEach(series => {
                                    series.hide()
                                })
                                } else {
                                series.forEach(series => {
                                    series.show()
                                })
                                }
                                chart.showHideFlag = !chart.showHideFlag;
                            }
                            }
                        }*/
                    },
            },
            series:data
        });
    }

    function generateURl(){
        strike = parseFloat(document.getElementById('strikeText').value)
        currentPrice = parseFloat(document.getElementById('currentText').value)
        ttm = parseFloat(document.getElementById('timeText').value)
        rate = parseFloat(document.getElementById('rateText').value)
        vol = parseFloat(document.getElementById('volText').value)
        div = parseFloat(document.getElementById('divText').value)
        text="https://84piranhas.github.io/posts/trading/options-pricer/?"
        text += 'price=' + currentPrice
        text += '&strike=' + strike
        text += '&time=' + ttm
        text += '&vol=' + vol
        text += '&div=' + div
        text += '&rate=' + rate
        window.prompt("The URl of the current configuration of the pricer is:", text)
    }
</script>

