<label class="toggle">
    <input id ="tog3" type="checkbox">
    <span class="slider"></span>
    <span class="labels" data-on="PUT" data-off="CALL"></span>
</label>

<h4>Constant parameters</h4>

<div class="row">
    <div class="column">
        Time to Maturity (days)
        <form>
            <div>
                <input id="time4Text" class = "input2" type="number" value="60" min="0" max="200" step="1" oninput="time4Range.value=time4Text.value" />
                <input id="time4Range" class = "slider2" type="range" value="60" min="1" max="365" step="1" oninput="time4Text.value=time4Range.value" />
            </div>
        </form>
    </div>
    <div class="column">
        Dividend Yield (%)
        <form>
            <div>
                <input id="div4Text" class = "input2" type="number" value="0" min="0" max="20" step="0.1" oninput="div4Range.value=div4Text.value" />
                <input id="div4Range" class = "slider2" type="range" value="0" min="0" max="20" step="0.1" oninput="div4Text.value=div4Range.value" />
            </div>
        </form>
    </div>
    <div class="column">
        Interest Rate (%)
        <form>
            <div>
                <input id="rate4Text" class = "input2" type="number" value="0" min="-10" max="20" step="0.1" oninput="rate4Range.value=rate4Text.value" />
                <input id="rate4Range" class = "slider2" type="range" value="0" min="-10" max="20" step="0.1" oninput="rate4Text.value=rate4Range.value" />
            </div>
        </form>
    </div>
</div>

<br>

<h4>Variables</h4>

<div class="row">
    <div class="column">
        Current price ($)
        <form>
            <div>
                <input id="current4Text" class = "input2" type="number" value="100" min="0" step="0.1" />
            </div>
        </form>
    </div>
    <div class="column">
        Range (absolute $)
        <form>
            <div>
                <input id="current4Range" class = "input2" type="number" value="1" min="0" step="1" />
            </div>
        </form>
    </div>
    <div class="column">
        Step (absolute $)
        <form>
            <div>
                <input id="current4Step" class = "input2" type="number" value="0.1" min="0" step="0.05" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="column">
        Strike ($)
        <form>
            <div>
                <input id="strike4Text" class = "input2" type="number" value="100" min="0" step="0.1" />
            </div>
        </form>
    </div>
    <div class="column">
        Range (absolute $)
        <form>
            <div>
                <input id="strike4Range" class = "input2" type="number" value="1" min="0" step="1" />
            </div>
        </form>
    </div>
    <div class="column">
        Step (absolute $)
        <form>
            <div>
                <input id="strike4Step" class = "input2" type="number" value="0.1" min="0" step="0.05" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="column">
        Volatility (%)
        <form>
            <div>
                <input id="vol4Text" class = "input2" type="number" value="25" min="0" max="200" step="0.5" />
            </div>
        </form>
    </div>
    <div class="column">
        Range (absolute %)
        <form>
            <div>
                <input id="vol4Range" class = "input2" type="number" value="0" min="0" step="1" />
            </div>
        </form>
    </div>
    <div class="column">
        Step (absolute %)
        <form>
            <div>
                <input id="vol4Step" class = "input2" type="number" value="1" min="0" step="0.5" />
            </div>
        </form>
    </div>
</div>
<br>

<button class="button2" onclick="simulation3()">Simulate scenarii</button>
<div id="containerSimulation3"></div>
<script>
    
    function simulation3(){
        
        const data=[];
        const dataChart=[];
        dataChart.push({name: 'Show/Hide all',visible: false, color: 'rgb(204, 204, 204)'});
        
        //constant parameters
        time = parseFloat(document.getElementById('time4Text').value)
        div = parseFloat(document.getElementById('div4Text').value)
        rate = parseFloat(document.getElementById('rate4Text').value)


        //variables
        currentPrices = []
        currentPrice = parseFloat(document.getElementById('current4Text').value)
        range = parseFloat(document.getElementById('current4Range').value)
        step = parseFloat(document.getElementById('current4Step').value)
        for(i=currentPrice-range;i<=currentPrice+range;i=i+step){
            currentPrices.push(Math.round(i*1000,3)/1000);
        }
        //console.log(currentPrices)

        strikes = []
        strike = parseFloat(document.getElementById('strike4Text').value)
        range = parseFloat(document.getElementById('strike4Range').value)
        step = parseFloat(document.getElementById('strike4Step').value)
        for(i=strike-range;i<=strike+range;i=i+step){
            strikes.push(Math.round(i*1000,3)/1000);
        }
        //console.log(strikes)

        vols=[]
        vol = parseFloat(document.getElementById('vol4Text').value)
        volRange = parseFloat(document.getElementById('vol4Range').value)
        volStep = parseFloat(document.getElementById('vol4Step').value)
        for(i=vol-volRange;i<=vol+volRange+0.001;i=i+volStep){
            vols.push(Math.round(i*1000,3)/1000);
        }
        //console.log(vols)

        if (document.getElementById('tog3').checked==false){
            for (const p of currentPrices) {
                tmp = []
                for (const s of strikes) {
                
                    for (const v of vols) {
                    
                        var option = callOption(p, s, 1/365*time,rate/100,v/100,div/100)
                        tmp.push([s, option, v])
                    }
                }
                dataChart.push({name:p, data:tmp})
            }
        }
        else{
            for (const p of currentPrices) {
                tmp = []
                for (const s of strikes) {
                
                    for (const v of vols) {
                    
                        var option = putOption(p, s, 1/365*time,rate/100,v/100,div/100)
                        tmp.push([s, option, v])
                    }
                }
                dataChart.push({name:p, data:tmp})
            }
        }
        createSimulationChart3(dataChart);

    }

    function createSimulationChart3(data2){
        var divToStyle = document.getElementById('containerSimulation3')
        divToStyle.setAttribute("style", "width:100%; height:400px;")
        //console.log(data2)
        const chart = Highcharts.chart('containerSimulation3', {
            chart: {
                type: 'bubble',
                zoomType: 'xy',
            },
            plotOptions: {
                    series:{
                        lineWidth:0
                    },
                    bubble: {
                        minSize: 5,
                        maxSize: 20,
                        sizeBy: 'width',
                        marker:{
                            fillOpacity: 0.5,
                            lineWidth: 1,
                        },
                        events: {
                            legendItemClick() {
                            let chart = this.chart,
                                series = chart.series;
                            if (this.index === 0) {
                                if (chart.showHideFlag) {
                                series.forEach(series => {
                                    series.hide()
                                })
                                } else {
                                series.forEach(series => {
                                    series.show()
                                })
                                }
                                chart.showHideFlag = !chart.showHideFlag;
                            }
                            }
                        }
                    },
            },
            //series:[{data:data2}],
            series:data2
        });
    }

</script>
