<style>
    .input2 {
        color: currentColor;
        font-weight: bold;
    }

    .slider2 {
        width: 200px;
    }
    .button2 {
        color:currentColor;
        font-weight: bold;
        border: 2px solid currentColor;
        padding: 1px 15px;
        width: 49%
        
    }
    .button1 {
        color:currentColor;
        font-weight: thin;
        border: 1px solid currentColor;
        padding: 1px 15px;
        
    }
    .column {
        float: left;
        width: 33.33%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    .move { cursor: move; }
    .pointer { cursor: pointer; }

    .normalCell{
        color: currentColor;
        font-weight: normal;
    }
</style>
