<style>
    .input2 {
        color: currentColor;
        font-weight: bold;
    }

    .slider2 {
        width: 300px;
    }
    .button2 {
        color:currentColor;
        font-weight: bold;
        border: 2px solid currentColor;
        padding: 1px 15px;
        
    }
</style>

<script>
    var color = 
    console.log(color)
</script>

<!--Volatility = <span id="volText" class="input2">20</span><span> %</span>-->
<!--
Volatility = <input  class="input2" id="volText" type="text" value="20"></input><span> %</span>
<br>
<input type="range" id="vol" value="20" min="0" max="100" step="0.1" 
onchange="updateInput2(this.value, this.id);" oninput="updateInput2(this.value, this.id)" style="width: 500px">
<br>
-->

<!--
Time to Maturity = <span id="timeText">60</span><span> days</span>
<br>
<input type="range" id="time" value="60" min="1" max="365" step="1" 
onchange="updateInput2(this.value, this.id);" oninput="updateInput2(this.value, this.id)" style="width: 500px">
<br>
<input id="price" value="100">
-->

<!--
<script>
    function updateInput2(val, id){
        id2 = id + 'Text'
        paramText = document.getElementById(id2)
        //paramText.innerHTML = val
        paramText.value = val
    }
</script>
-->
Volatility (%)
<form>
    <div>
        <input id="volText" class = "input2" type="number" value="20" min="0" max="200" step="0.5" oninput="volRange.value=volText.value" />
        <input id="volRange" class = "slider2" type="range" value="20" min="0" max="200" step="0.5" oninput="volText.value=volRange.value" />
    </div>
</form>
Time to Maturity (days)
<form>
    <div>
        <input id="timeText" class = "input2" type="number" value="60" min="0" max="200" step="1" oninput="timeRange.value=timeText.value" />
        <input id="timeRange" class = "slider2" type="range" value="60" min="1" max="365" step="1" oninput="timeText.value=timeRange.value" />
    </div>
</form>
Interest Rate (%)
<form>
    <div>
        <input id="rateText" class = "input2" type="number" value="0" min="-10" max="20" step="0.1" oninput="rateRange.value=rateText.value" />
        <input id="rateRange" class = "slider2" type="range" value="0" min="-10" max="20" step="0.1" oninput="rateText.value=rateRange.value" />
    </div>
</form>
Strike ($)
<form>
    <div>
        <input id="strikeText" class = "input2" type="number" value="100" min="0" step="0.1" />
    </div>
</form>
Current Price ($)
<form>
    <div>
        <input id="currentText" class = "input2" type="number" value="100" min="0" step="0.1" />
    </div>
</form>

<button class="button2" onclick="price('call')">PRICE CALL</button>
<button class="button2" onclick="price('put')">PRICE PUT</button>
<div id="resultOption"></div>
<table id="optionsTable">
    <tr>
        <th>Result</th>
        <th>Strike</th>
        <th>Current</th>
        <th>Expiry</th>
        <th>Rate</th>
        <th>Volatility</th>
        <th></th>
        <th></th>
        
        
    </tr>
</table>

<!--functions for pricing equity options-->
<script>
    function normalcdf(X){   //HASTINGS.  MAX ERROR = .000001
        var T=1/(1+.2316419*Math.abs(X));
        var D=.3989423*Math.exp(-X*X/2);
        var Prob=D*T*(.3193815+T*(-.3565638+T*(1.781478+T*(-1.821256+T*1.330274))));
        if (X>0) {
            Prob=1-Prob
        }
        return Prob
    }   

    function getNcdf(Z, M, SD) {
            if (SD<0) {
                alert("The standard deviation must be nonnegative.")
            } else if (SD==0) {
                if (Z<M){
                    Prob=0
                } else {
                    Prob=1
                }
            } else {
                Prob=normalcdf((Z-M)/SD);
                Prob=Math.round(100000*Prob)/100000;
            }
        result = Prob
        return result
    }

    function dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
    var result = (Math.log(underlyingPrice / exercisePrice) + (interest - dividend + 0.5 * (volatility * volatility)) * time) / (volatility * (Math.sqrt(time)))
        return result
    }

    function NdOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
    var result = Math.exp(-(dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend) * dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend))/2)/Math.sqrt(2*Math.PI)
        return result
    }

    function dTwo(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
    var result = dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend) - volatility * Math.sqrt(time)
        return result
    }

    function NdTwo(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
    var result = getNcdf(dTwo(underlyingPrice, exercisePrice, time, interest, volatility, dividend), 0, 1) 
        return result
    }

    function callOption(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
        var result =  Math.exp(-dividend * time) * underlyingPrice * getNcdf(dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend),0, 1) - exercisePrice * Math.exp(-interest * time) * getNcdf(dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend) - volatility * Math.sqrt(time), 0, 1) 
        return result
    }

    function callOptionA(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
    var result =  Math.exp(-dividend * time) * underlyingPrice * getNcdf(dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend),0, 1)
        return result
    }

    function callOptionB(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
    var result =  - exercisePrice * Math.exp(-interest * time) * getNcdf(dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend) - volatility * Math.sqrt(time), 0, 1) 
        return result
    }

    function putOption(underlyingPrice, exercisePrice, time, interest, volatility, dividend){
        var result =  exercisePrice * Math.exp(-interest * time) * getNcdf(-dTwo(underlyingPrice, exercisePrice, time, interest, volatility, dividend), 0, 1) - Math.exp(-dividend * time) * underlyingPrice * getNcdf(-dOne(underlyingPrice, exercisePrice, time, interest, volatility, dividend),0, 1) 
        return result
    }

</script>


<script>
    var binsvgOptions = '<svg onclick="deleteRowOptions(this)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#b5b5b5"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>'
    
    function price(callORput){
        strike = parseFloat(document.getElementById('strikeText').value)
        currentPrice = parseFloat(document.getElementById('currentText').value)
        ttm = parseFloat(document.getElementById('timeText').value)
        rate = parseFloat(document.getElementById('rateText').value)
        vol = parseFloat(document.getElementById('volText').value)
        console.log(strike, currentPrice, ttm, rate, vol)

        if (callORput=='put'){
            var option = putOption(currentPrice, strike, 1/365*ttm,rate/100,vol/100,0)
        }
        else{
            var option = callOption(currentPrice, strike, 1/365*ttm,rate/100,vol/100,0)
        }
        //console.log(call)
        
        //document.getElementById("resultOption").innerHTML=document.getElementById("resultOption").innerHTML + call
        var table = document.getElementById("optionsTable");
        var row = table.insertRow(1);
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(-1);
        var cell3 = row.insertCell(-1);
        var cell4 = row.insertCell(-1);
        var cell5 = row.insertCell(-1);
        var cell6 = row.insertCell(-1);
        var cell7 = row.insertCell(-1);
        
        cell0.innerHTML= option.toFixed(3)
        cell1.innerHTML = strike;
        cell2.innerHTML = currentPrice;
        cell3.innerHTML = ttm;
        cell4.innerHTML = rate;
        cell5.innerHTML = vol;
        cell7.innerHTML = binsvgOptions;
        cell6.innerHTML = callORput
    }

    function deleteRowOptions(r){
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("optionsTable").deleteRow(i);

    }
</script>